.r {
  float: right;
}
.l {
  float: left;
}

.clear {
  clear: both;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.w-40 {
  width: 40px;
}

.bg {
  background: url("/assets/img/bg.png") no-repeat;
  overflow: hidden;
}
