<div class="topBorder">
    <span class="l mr-10 w-40"></span>
    <span class="l mr-10"></span>
    <span class="l mr-10"></span>
    <span class="l mr-10"></span>
    <span class="l mr-10"></span>
    <span class="r ml-10 w-40"></span>
    <span class="r ml-10"></span>
    <span class="r ml-10"></span>
    <span class="r ml-10"></span>
    <span class="r ml-10"></span>
</div>
<h1>{{title}}</h1>
<div class="view">
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
    <p></p>
    <em></em>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
    <p></p>
    <b class="c"></b>
    <b class="c"></b>
    <b class="c"></b>
    <b class="c"></b>
    <p></p>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <p></p>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <p></p>
    <em></em>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
</div>
<div class="view l">
    <em></em>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <p></p>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <p></p>
    <b class="c"></b>
    <b class="c"></b>
    <b class="c"></b>
    <b class="c"></b>
    <p></p>
    <em></em>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
    <p></p>
    <b class="c"></b>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
    <div class="clear"></div>
    <em></em>
    <b class="c"></b>
    <p></p>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
    <div class="clear"></div>
    <b class="c"></b>
</div>