$black: #000;
$brown: #560000;

//block
:host {
  display: block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #879372;
  margin: 0 2px 2px 0;
  float: left;

  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #879372;
    overflow: hidden;
  }

  &.filled {
    border-color: $black;
    &:after {
      background: $black;
    }
  }

  &.animated {
    border-color: $brown;
    &:after {
      background: $brown;
    }
  }
}
