<div class="react">
    <t-screen-decoration></t-screen-decoration>
    <div class="screen">
        <div class="panel">
            <t-matrix></t-matrix>
            <div class="state">
                <t-point></t-point>
                <t-start-line></t-start-line>
                <t-level></t-level>
                <t-next></t-next>
                <div class="last-row">
                    <t-sound></t-sound>
                    <t-pause></t-pause>
                    <t-clock></t-clock>
                </div>
            </div>
        </div>
    </div>
</div>
<t-keyboard></t-keyboard>