$yellow: #efcc19;
$black: #000;

:host {
  width: 640px;
  padding-top: 42px;
  box-shadow: 0 0 10px #fff inset;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -450px 0 0 -320px;
  background: $yellow;

  &:ng-deep {
    //block
    b {
      display: block;
      width: 20px;
      height: 20px;
      padding: 2px;
      border: 2px solid #879372;
      margin: 0 2px 2px 0;
      float: left;

      &:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background: #879372;
        overflow: hidden;
      }

      //fill block
      &.c {
        border-color: $black;
        &:after {
          background: $black;
        }
      }

      &.d {
        border-color: #560000;
        &:after {
          background: #560000;
        }
      }
    }
  }
}

.rect {
  width: 480px;
  padding: 45px 0 35px;
  border: $black solid;
  border-width: 0 10px 10px;
  margin: 0 auto;
  position: relative;
  &.drop {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.screen {
  width: 390px;
  height: 478px;
  border: solid 5px;
  border-color: #987f0f #fae36c #fae36c #987f0f;
  margin: 0 auto;
  position: relative;

  .panel {
    width: 380px;
    height: 468px;
    margin: 0 auto;
    background: #9ead86;
    padding: 8px;
    border: 2px solid #494536;
  }
}
