<div class="d-flex">
  <div class="qr">
    <div class="hint">
      Scan QR code to play with a mobile phone
    </div>
    <img atl="QR Code to play on mobile"
         src="https://res.cloudinary.com/dvujyxh7e/image/upload/v1595380432/angular-tetris-qr-code-no-text.png" />
  </div>
  <div class="twitter">
    <t-twitter-button [tweetUrl]="tweetAngularTetrisUrl">
    </t-twitter-button>
  </div>
  <iframe src="https://ghbtns.com/github-btn.html?user=trungk18&repo=angular-tetris&type=star&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="170"
          height="30"
          title="Angular Tetris Star">
  </iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=trungk18&repo=angular-tetris&type=fork&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="170"
          height="30"
          title="Angular Tetris Fork">
  </iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=trungk18&repo=angular-tetris&type=follow&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="230"
          height="30"
          title="GitHub"></iframe>
</div>